
@use 'sass:math';


@mixin d-flex($justify: start, $align: baseline, $direction: row, $wrap: nowrap) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    
}


@mixin d-grid($column: auto, $rows: auto, $justify-self: auto, $align-self: auto, $auto-rows: auto) {
    display: grid;
    grid-template-columns: $column;
    grid-template-rows: $rows;
    justify-self: $justify-self;
    align-self: $align-self;
    grid-auto-rows: $auto-rows;
    
}






@mixin typography($size: 18px, $weight: 450, $height: 24px, $t-align: start) {

    font-weight: $weight;
    font-size: $size;
    line-height: $height;
    letter-spacing: -1.4%;
    text-align: $t-align;
}

@mixin typography-main-text($size) {
    font-family: sans-serif;
    font-weight: 700;
    font-size: $size;
    line-height: 32px;

    text-align: center;

}




@mixin fluid-text($max: 48, $min: 14) {
    $maxViewportWidth: 1400;
    $minViewportWidth: 320;

    $maxSize: math.div($max, 14);
    $minSize: math.div($min, 14);
    $maxWidth: math.div($maxViewportWidth, 14);
    $minWidth: math.div($minViewportWidth, 14);

    $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
    $yAxisIntersection: -$minWidth * $slope +$minSize;

    font-size: clamp(#{$minSize * 1rem},
        #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
        #{$maxSize * 1rem});
}